.banner{
    margin-bottom: var(--block-margin);
}
.banner .wrp{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.banner .wrp .Seri_img{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.collection{
    margin-bottom: var(--block-margin);
}
.collection .wrp{

    display: flex;
    flex-direction: column;
    gap: 24px;
}
.collection .wrp .heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.collection .wrp .heading a{
    display: flex;
    text-decoration: underline;
    color: #00FFF0;
    font-weight: 500;

}
.slider-for.slick-initialized.slick-slider.slick-slider .slick-track, .slick-slider .slick-list{
    gap: unset;
}
.collection .wrp .collection_items{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.collection .wrp .collection_items .Item{
    display: flex;
    flex-direction: column;
    width: calc((100% - 120px ) / 6);
    border: 1px solid #202121;
    border-radius: 50%;
}
.collection .wrp .collection_items .Item .Infor_item p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}
.collection .wrp .collection_items .Item .Infor_item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 12px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background: #202121;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.collection .wrp .collection_items .Item .Infor_item span{
    font-size: 14px;
    font-weight: 600;
}
.suggest .wrp{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
 .wrp .ranking{
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .wrp a.ranking{
    padding: 12px 18px;
    background: #05CAE129;
    border-radius: 8px;
    color: #00FFF0;

}
.suggest .wrp .heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.suggest .wrp .heading .last_hours{
display: flex;
flex-direction: row;
gap: 24px;
}
.suggest .wrp .heading .last_hours a.active{
    display: flex;
    text-decoration: underline;
    color: #00FFF0;
    font-weight: 500;

}
.suggest .wrp .collection_items{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.suggest .wrp .collection_items .Item{
    display: flex;
   flex-wrap: wrap;
    width: calc((100% - 72px ) / 4);
    gap: 8px;
    padding: 12px;
    border: 1px solid #202121;
    border-radius: 8px;
    background: #202121;
}
.suggest .wrp .collection_items .Item .Infor_item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    width: 100%;

}
.suggest .wrp .collection_items .Item .Name_tag{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.suggest .wrp .collection_items .Item .Name_tag a{
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.slick-slider .slick-track, .slick-slider .slick-list{
    display: flex !important;
    flex-direction: row;
    gap: 24px;
}

.suggest .wrp .collection_items .Item .Infor_item span{
    font-size: 12px;
    font-weight: 600;
}
.wall.login{
    width: 252px;
    background: unset !important; ;
    gap: 12px;
    align-items: center;
    color: #fff !important;
}
.suggest .wrp .collection_items .Item .Infor_item .percent{
    
    display: flex;
    justify-content: space-between;

}
.per1{
    color: #EC2828;

}
.per{
    color: #06FD87;
}
.suggest .wrp .collection_items .Item .Infor_item .price{
    display: flex;
    justify-content: space-between;
}
.wrp .collection_items .Item .Infor_item .price .price1 {
    display: flex;
    flex-direction:row;
    gap: 4px;
   
}
.wrp .collection_items .Item .Infor_item .price .price1 span{
    font-size: 12px;
    font-weight: 500;
}
.wrp .collection_items .Item .Infor_item .price a{
    width: 15px;
    background: url(./icon/Group.svg) no-repeat center center;
}



.collection.best_sell .wrp .collection_items .Item .Infor_item{
    padding: 8px;
    text-align: unset;
}
.collection.best_sell .wrp .collection_items .Item .Infor_item .price{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
@media(max-width:1199px){
    .collection .wrp .collection_items .Item {
        width: calc((100% - 48px ) / 3);
      
}
.collection.best_sell .wrp .collection_items .Item .Infor_item{
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
}
.suggest .wrp .collection_items .Item{
    width: calc((100% - 48px ) / 3);
}
.collection .wrp .collection_items .Item a img{
    width: 100%;
}
.banner{
    margin-bottom: 40px;
}
.collection{
    margin-bottom: var( --block-margin-primary);
}

}
@media(max-width:991px){
   
    .suggest .wrp .collection_items .Item .Name_tag h3{
        
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    }

    .suggest .wrp .collection_items .Item .Infor_item .price{
        flex-wrap: wrap;
        gap: 12px;
    }
}
@media(max-width:768px){
    .collection .wrp .collection_items .Item{
        width: calc((100% - 24px ) / 2);
    }
    .suggest .wrp .collection_items .Item{
        width: calc((100% - 24px ) / 2);
    }
    .suggest .wrp .collection_items .Item a  {
        width: 100%;
    }
    .suggest .wrp .collection_items .Item a img {
        width: 100%;
    }
    .suggest .wrp .heading .last_hours{
        display: none;
    }
    .suggest .wrp .heading {
        justify-content: center;
    }
    .suggest .wrp .collection_items .Item .Name_tag a{
        width: unset;
    }
    
    
}
@media(max-width:484px){
    .collection .wrp .collection_items .Item{
        width: 100%;
    }
    .slider-nav.slick-initialized.slick-slider{
        display: none;
    }
    .suggest .wrp .collection_items .Item{
        width: 100%;
    }

    .collection .wrp .collection_items .Item a img{
        width: 100%;
    }
    .suggest .wrp .collection_items .Item .Infor_item .price .num{
        display: flex;
        gap: 10px;
    }
    .suggest .wrp .collection_items .Item .Infor_item .price{
        flex-direction: row;
        gap: 8px;
    }
   
    .collection.best_sell .wrp .collection_items .Item .Infor_item .price{
    gap: 8px;
        width: 100%;
    }
    .banner.wrp1 .Search_trend{
        display: none !important;
    }
}

