.col_right .search_by{
    align-items: center;
    justify-content: space-between;
}
form label{
    padding: 0 8px;
}
.tag_number{
    display: flex;
    flex-direction: row;
    gap: 24px; 
}
.tag_number span{
    align-items: center;
    padding: 40px 60px;
    background: #292929;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.tag_number span strong{
    font-size: 32px;
    text-align: center;
    display: flex;
    gap: 8px;
    align-items: center;
}
.seller_product .order_list span.name{
    width: 230px;
}
.seller_product .order_list span.view{
    width: 36px;
}
.seller_product .order_list span.Orders{
    width: 41px;
}
.seller_product .order_list span.Unit{
    width: 65px;
}
.seller_product .order_list span.Sales{
    width: 73px;
}
.seller_product .order_list span.Conversion .Rate{
    width: 100px;
}
.seller_product .order_list span.Profit{
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seller_product .order_list span.Action{
    width: 48px;
}
.list_collection .order_list{
    gap: 30px;
    text-align: center;
}
a.Action{
    width: 48px;
}
.order_list.infor .infor{
    width: 230px;
}
.order_list span{
    display: unset;
}
@media(max-width:1199px){
    .seller_product .wrp1{
        width: 100%;
    }

}
@media(max-width:991px){
    .seller_product .wrp{
        padding: unset !important;
    }

    label{
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }
}
@media(max-width:768px){
    .list_collection{

        gap: 24px;
        overflow-x: auto;
        width: 100%;
        white-space: nowrap;
        flex-wrap: wrap;
        }
        .seller_product .order_list span.view{
            width: 47px;
        }
        .seller_product .order_list span.name{
            width: 320px;
        }
        .order_list.infor .infor{
            width: 320px;
        }

}
@media(max-width:431px){



    .col_right .heading{
        display: flex;
    }
    .tag_number{
        flex-wrap: wrap;
    }
    .tag_number span{
        width: calc((100% - 48px ) / 3);
        padding: 12px;
        gap: 12px;
    }
    .tag_number span strong{
        font-size: 14px;
        align-items: center;
        height: 32px;
    }
}
